
<div id="lower_slider">
		<div class="lower_content" style="margin:0 25px 0 20px;">
				 <div class="lower_content_header">
							<h4>Welcomt to Dummy</h4>
					</div>
					<div class="lower_content_image">
						<%=image_tag"student.JPG",:class=>"student"%>
					</div>
					<div class="lower_content_text">
							<p>
								The path to your goals doesn’t always follow a straight line.  Just ask Marco Ignigni.							</p>
					</div>
					<div class="information">
							<a href="#">Request Information&nbsp;&nbsp></a>
					</div>
		</div>
		<div class="lower_content" style="margin:0 25px 20px 0;">
				 <div class="lower_content_header">
							<h4>Latest News</h4>
					</div>
					<button class="previmage" ></button>

        
			<div class="anyClass">
					<ul>
						  <li><div class="slider_content"><%=image_tag"a.jpg",:class=>"slider_image"   %><div class="content_header"><a href="#">what is lorem ipsum?</a><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span></div></div></li>
						 <li><div class="slider_content"><%=image_tag"b.jpg",:class=>"slider_image"   %><div class="content_header"><a href="#">what is lorem ipsum?</a><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span></div></div></li>
						 <li><div class="slider_content"><%=image_tag"c.jpg",:class=>"slider_image"   %><div class="content_header"><a href="#">what is lorem ipsum?</a><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span></div></div></li>
						  <li><div class="slider_content"><%=image_tag"d.jpg",:class=>"slider_image"   %><div class="content_header"><a href="#">what is lorem ipsum?</a><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span></div></div></li>
							<li><div class="slider_content"><%=image_tag"e.jpg",:class=>"slider_image"   %><div class="content_header"><a href="#">what is lorem ipsum?</a><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span></div></div></li>
					</ul>
			</div>
			<button class="nextimage"></button>
</div>
		<div class="lower_content" >
				 <div class="lower_content_header">
							<h4>Notice Board</h4>
					</div>
					<div class="lower_content_image">
							<%=image_tag"student.JPG",:class=>"student"%>
					</div>
					<div class="lower_content_text">
							<p>
								The path to your goals doesn’t always follow a straight line.  Just ask Marco Ignigni.							</p>
					</div>
					<div class="information">
							<a href="#">All Notices&nbsp;&nbsp></a>
					</div>
		</div>
		
</div>

